<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minju Kim Layout</title>
    <link href="style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">

</head>

<body>
    <div>

    </div>
    <div class="left-container">
        <div class="profile">
            <div class="profile-photo">
                <img src="profile-1.png" alt="profile 1" class="profile-photo">
            </div>

            <div class="remaining-tile">
                <div class="remaining-circle">
                    3
                </div>

            </div>

            <div class="user">
                <div class="level">
                    7
                </div>

                <div class="username">
                    r.g.rhodes
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="profile-photo">
                <img src="profile-2.png" alt="profile 2" class="profile-photo">
            </div>

            <div class="remaining-tile">
                <div class="remaining-circle-2">
                    10
                </div>

            </div>

            <div class="user">
                <div class="level">
                    4
                </div>

                <div class="username">
                    patricia651
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="profile-photo">
                <img src="profile-3.png" alt="profile 3" class="profile-photo">
            </div>

            <div class="remaining-tile">
                <div class="remaining-circle">
                    5
                </div>

            </div>

            <div class="user">
                <div class="level">
                    13
                </div>

                <div class="username">
                    s.t.sharkey
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="profile-photo">
                <img src="profile-4.png" alt="profile 4" class="profile-photo">
            </div>

            <div class="remaining-tile">
                <div class="remaining-circle-2">
                    6
                </div>

            </div>

            <div class="user">
                <div class="level">
                    2
                </div>

                <div class="username">
                    kurt_bates
                </div>
            </div>
        </div>
    </div>

    <div class="right-container">

        <div class="more">
            <div class="more-dot" id="dot-red">

            </div>
            <div class="more-dot" id="dot-yellow">

            </div>
            <div class="more-dot" id="dot-blue">

            </div>
        </div>



        <div class="organizer">
            <div class="same-color">
                <p class="same-color-text">123</p>
            </div>

            <div class="same-number">
                <p class="same-number-text">333</p>
            </div>
        </div>

        <div class="pouch">

        </div>

    </div>


    <div class="stand-container">
        <div class="stand-1">

            <div class="tile" id="tile-1">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-2">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-3">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-4">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-5">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>


        </div>

        <div class="stand-2">

            <div class="tile" id="tile-6">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-7">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-8">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-9">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>

            <div class="tile" id="tile-10">
                <div class="tile-circle">
                    <div class="watermark">
                        Rummikub
                    </div>
                </div>
            </div>


        </div>
    </div>


    <script src="js/scripts.js"></script>




</body>

</html>